use gammu;

create view $name as 
select ID, ReceivingDateTime, SenderNumber, TextDecoded from gammu.inbox where ID in (
	select max(ID) from gammu.inbox 
    where ID in
		(
			select ID from gammu.inbox where lower(TextDecoded) REGEXP  '^(\ *?$name\ )'
		)
	group by SenderNumber
);
