create view gammu.$name as 
select ID, ReceivingDateTime, SenderNumber, TextDecoded from gammu.filter where ID in (
	select max(ID) from gammu.filter
    where ID in
		(
			select ID from gammu.filter where TextDecoded REGEXP  '^(\ *2$name.*)'
		)
	group by SenderNumber
);
